
html {
    font-family: sans-serif;

}

body {
    margin-left: 40px;
}

h1 {
    font-family: 'Adelle W01 Bold', 'Arvo', Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    font-size: 81px;
    font-weight: 300;
    height: 90px;
    margin-bottom: 50px;
    margin: 0px;
}

.divcalendar {
    margin: 10px;
    max-width: 290px;

}

.month {
    padding: 20px 10px;
    width: auto;
    height: 65px;
    background: #1abc9c;
}

.smallText {
    max-width: 50px;
    max-height: 25px;
    padding: 12px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
}

.month div {
    color: white;
    font-size: 20px;
    font-family: "Courier New";
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
}

.month .next {
    float: right;
}

.weekdays {

    margin: 0;
    padding: 10px 5px;
    background-color: #ddd;
}

#parent {
    display: flex;
}

#all {
    flex: 1;
}

#divDaysBdates {
    margin-left: 69px;
    margin-top: auto;
    margin-bottom: auto;
    width: 500px;
}

#lan2 {
    display: block;
}

#lan4 {
    display: block;
}

.inputstyle {
    max-width: 80px;
    max-height: 25px;
    padding: 5px 5px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;

}

select {
    max-width: 200px;
    max-height: 25px;
    padding: 5px 5px;
    border: 1px solid #ccc;
    border-radius: 25px;
    text-align: center;
    box-sizing: border-box;
}

th, td {
    width: 30px;

}

td {
    cursor: pointer;
}

td:hover {
    background-color: white;
}

img {
    cursor: pointer;
}

input[type=text] {
    cursor: not-allowed;
}

/*-------------------------Buttons----------------------------------------*/
.button {
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    background-image: linear-gradient(top, #f4f1ee, #fff);
    border-radius: 50%;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204, 198, 197, .5);
    float: left;
    height: 30px;
    margin: 0 20px 20px 0;
    width: 30px;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    margin-top: 0;
    margin-left: 12px;
}

.button:hover {
    background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
    background-image: linear-gradient(top, #fff, #f4f1ee);
    color: #0088cc;
}




